.footer {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.section2 {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    float:right;
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* start media quieries  */

/* @media screen and (min-width: 320px) {
    .footerType {
        margin: 0px 10px 0px 0px;
    }
    .section2 {
        margin-bottom: 400px;  
    }
}

@media screen and (min-width: 550px) {
    .section2 {
        margin-bottom: 0px 10px 300px 0px;  
    }
} */