.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #6a8aaf;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color:#6a8aaf;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .slider {
    position:relative;
    display: flex;
    flex-direction: row;
    
  }
  
  .image {
    width: 800px;
    height: 800px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
  }

  .desc {
    max-width: 50%;
    text-align: center;
    margin: auto;
    font-size: 18px;
  }

 /* start media queries */



 @media screen and (max-width: 768px) {
  .slider {
    justify-content: center;
    margin:auto;
    
  }
  .featureCard {
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#6a8aaf;
    display: flex;
    justify-content: center;
  }
  .featureSub {
    margin: 10px;
    text-align: center;
    font-family: Source San Pro, sans-serif;
    position: relative;
    font-size: 14px;
  }
 }

 /* @media screen and (min-width: 770px) {
    .slider {
      top: 200px;
      height: 400px;
      width: 400px;
      position: relative;
      
    } 
    .image {
      height: 400px;
      width: 400px;
    } 
    .featureSub {
      margin: 10px;
      text-align: center;
      font-family: Source San Pro, sans-serif;
      position: relative;
      font-size: 14px;
    }
 } */

 /* @media screen and (min-width: 1025px) {
  .featureCard {
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#6a8aaf;
  }
 } */

 /* @media screen and (max-width: 1400px) {
   .featureCard {
     text-align: center;
     text-decoration: underline;
     text-decoration-color:#6a8aaf;
   }

   .image {
     width:500px;
     height:500px;
   }
   .slider {
     justify-content: center;
     margin:auto;
     margin-top: 20px;
   }
 } */



 