@media screen and (max-width: 480px) {
    .employeeGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        margin-top: 20px;
        align-content: center;
    }
    .media1 {
        margin-left: 135px;
        margin-bottom: 400px;
    }
    .media2 {
        margin-bottom: 400px;
    }
    .media3 {
        margin-right: 700px;
    }
}

@media (hover:hover) {
    .text {
        visibility: visible;
    }   
}

@media screen and (min-width: 1201px) {
    .flex-container {
        align-content: center;
        flex-direction: column;
    }
    .employeeGrid {
        align-content: center;
        flex-direction: row;
    }
}


