@media screen and (max-width: 480px) {
    .employeeGrid {
        flex-direction: column;
        top: 80px;
        position: relative;
        margin: 20px;
    }
    .text {
        align-content: center;
        text-align: center;
        transform: translate(9%, 0%);
    }
    .employeeGrid {
        margin-top: 20px;
    }
}

@media (hover:hover) {
    .text {
        visibility: visible;
    }   
}

@media (hover:hover) {
    .text {
        visibility: visible;
    }
       
    
}

/* @media screen and (min-width: 481px) {
    .media {
        transform: translate(7%, -180%);
    }
    .media2 {
        transform:translate(-90%, -900%);
    }
    .media3 {
        transform: translate(-115%, 55%);
    }
} */

