/* @media screen and (min-width: 320px) {
    .media {
        transform: translate(-25%, -180%);
    }
    .media2 {
        transform:translate(-117%, -900%);
    }
    .media3 {
        transform: translate(-123%, 55%);
    }
}

@media screen and (min-width: 481px) {
    .media {
        transform: translate(7%, -180%);
    }
    .media2 {
        transform:translate(-90%, -900%);
    }
    .media3 {
        transform: translate(-115%, 55%);
    }
} */

